.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* Adjust width as needed */
    margin: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .mdc-data-table.centered {
    width: 100%;
    border-collapse: collapse;
  }
  
  .mdc-data-table th, .mdc-data-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .mdc-data-table th {
    background-color: #f4f4f4;
  }
  
  .mdc-data-table input[type="checkbox"] {
    margin: 0;
  }
  