<template>
    <h1>Humanities</h1>
    <p>Here you can access the catalog of rooms and reserve them.</p>


    <!-- Centered Box with Styled Table -->
    <center>

        <table class="courses">
          <thead>
            <tr>
              <th>#</th>
              <th>Course</th>
              <th>Semester</th>
              <th>ETCS</th>
              <th>Select</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>1</td>
                <td>Linguistics</td>
                <td>SA2024</td>
                <td>4</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Anthropology</td>
                <td>SA2025</td>
                <td>4</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Anthropology</td>
                <td>SA2025</td>
                <td>6</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Linguistics</td>
                <td>SA2025</td>
                <td>2</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>5</td>
                <td>History</td>
                <td>SA2026</td>
                <td>2</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Cultural Studies</td>
                <td>SA2024</td>
                <td>9</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Psychology</td>
                <td>SA2025</td>
                <td>6</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>8</td>
                <td>Psychology</td>
                <td>SA2026</td>
                <td>5</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>9</td>
                <td>History</td>
                <td>SA2024</td>
                <td>7</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>10</td>
                <td>Art History</td>
                <td>SA2024</td>
                <td>3</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>11</td>
                <td>Political Science</td>
                <td>SA2024</td>
                <td>2</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>12</td>
                <td>Linguistics</td>
                <td>SA2026</td>
                <td>8</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>13</td>
                <td>Psychology</td>
                <td>SA2025</td>
                <td>5</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>14</td>
                <td>Psychology</td>
                <td>SA2024</td>
                <td>9</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>15</td>
                <td>Sociology</td>
                <td>SA2024</td>
                <td>7</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>16</td>
                <td>Philosophy</td>
                <td>SA2025</td>
                <td>3</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>17</td>
                <td>Political Science</td>
                <td>SA2026</td>
                <td>4</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>18</td>
                <td>Political Science</td>
                <td>SA2024</td>
                <td>5</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>19</td>
                <td>Anthropology</td>
                <td>SA2025</td>
                <td>3</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>20</td>
                <td>Linguistics</td>
                <td>SA2026</td>
                <td>6</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>21</td>
                <td>Anthropology</td>
                <td>SA2025</td>
                <td>8</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>22</td>
                <td>Philosophy</td>
                <td>SA2025</td>
                <td>5</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>23</td>
                <td>Psychology</td>
                <td>SA2024</td>
                <td>3</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>24</td>
                <td>Sociology</td>
                <td>SA2024</td>
                <td>5</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr>
                <td>25</td>
                <td>Linguistics</td>
                <td>SA2024</td>
                <td>2</td>
                <td><input type="checkbox" name="course"/></td>
            </tr>
            <tr></tr>
            <tr>
              <td></td><td></td><td></td><td></td>
              <td><button class="enroll-button" click.delegate="goToPage('enrolled')">Enroll</button></td>
            </tr>
          </tbody>
        </table>
      </center>
    </template>
    