<template>
    <h1>University Mensa Menu</h1>

    <!-- Gray box with a welcome message -->
    <div style="background-color: #969FAA; margin: auto; width: 70%; color: white; padding: 1rem; border-radius: 4px; margin-top: 1rem; text-align: center;">
        <p style="color: #47525E">Welcome to the University Mensa! Check out our delicious menu options below.</p>
    </div>

    <!-- Menu section -->
    <div style="margin: auto; width: 70%; margin-top: 2rem;">
        <!-- Menu Item 1 -->
        <div style="background-color: #F2F2F2; padding: 1rem; border-radius: 4px; margin-bottom: 1rem;">
            <center>
            <table><tr>
                <td><span class="emoji">🍝</span></td><td><h2>Main Dish: Spaghetti aglio e olio</h2>
                    <p>Description: Classic Italian pasta Aglio e Olio</p>
                    <p>Price: 6.50 CHF</p></td>
            </tr></table>
            </center>
        </div>

        <!-- Menu Item 2 -->
        <div style="background-color: #F2F2F2; padding: 1rem; border-radius: 4px; margin-bottom: 1rem;">
            <center>
            <table><tr>
                <td><span class="emoji">🥦</span></td><td>
            <h2>Vegetarian Dish: Grilled Vegetable Platter</h2>
            <p>Description: A selection of freshly grilled seasonal vegetables.</p>
            <p>Price: 5.00 CHF</p>
            </td></tr></table>
            </center>
        </div>

        <!-- Menu Item 3 -->
        <div style="background-color: #F2F2F2; padding: 1rem; border-radius: 4px; margin-bottom: 1rem;">
            <center>
            <table><tr>
                <td><span class="emoji">🍰</span></td><td><h2>Dessert: Chocolate Cake</h2>
            <p>Description: Moist chocolate cake with a creamy frosting.</p>
            <p>Price: 3.00 CHF</p></td>
            </tr></table>
            </center>
        </div>

        <!-- Menu Item 4 -->
        <div style="background-color: #F2F2F2; padding: 1rem; border-radius: 4px; margin-bottom: 1rem;">
            <center>
            <table><tr>
            <td><span class="emoji">🥤</span></td><td><h2>Drink: Fresh Orange Juice</h2>
            <p>Description: Refreshing orange juice, freshly squeezed.</p>
            <p>Price: 2.50 CHF</p></td>
            </tr></table>
        </center>
        </div>
    </div>
</template>
