<template>
    <h1>Management, Economics and SocialSciences</h1>
    <p>Here you can access the catalog of rooms and reserve them.</p>


        <!-- Centered Box with Styled Table -->
        <center>

            <table class="courses">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Course</th>
                  <th>Semester</th>
                  <th>ETCS</th>
                  <th>Select</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>1</td>
                    <td>Economics</td>
                    <td>SE2024</td>
                    <td>5</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Business Administration</td>
                    <td>SE2025</td>
                    <td>4</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Accounting</td>
                    <td>SE2025</td>
                    <td>6</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Marketing</td>
                    <td>SE2025</td>
                    <td>2</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Finance</td>
                    <td>SE2026</td>
                    <td>7</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Organizational Behavior</td>
                    <td>SE2024</td>
                    <td>5</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Human Resource Management</td>
                    <td>SE2026</td>
                    <td>4</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Supply Chain Management</td>
                    <td>SE2025</td>
                    <td>8</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Information Systems</td>
                    <td>SE2024</td>
                    <td>3</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Strategic Management</td>
                    <td>SE2026</td>
                    <td>5</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Business Ethics</td>
                    <td>SE2024</td>
                    <td>6</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Managerial Accounting</td>
                    <td>SE2026</td>
                    <td>4</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Project Management</td>
                    <td>SE2025</td>
                    <td>7</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>International Business</td>
                    <td>SE2026</td>
                    <td>5</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Economics</td>
                    <td>SE2024</td>
                    <td>3</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Marketing</td>
                    <td>SE2025</td>
                    <td>8</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Operations Management</td>
                    <td>SE2024</td>
                    <td>6</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Corporate Finance</td>
                    <td>SE2025</td>
                    <td>4</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Behavioral Economics</td>
                    <td>SE2026</td>
                    <td>3</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Marketing Research</td>
                    <td>SE2025</td>
                    <td>9</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Leadership</td>
                    <td>SE2026</td>
                    <td>5</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Financial Reporting</td>
                    <td>SE2024</td>
                    <td>7</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Human Resource Management</td>
                    <td>SE2025</td>
                    <td>6</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>International Finance</td>
                    <td>SE2026</td>
                    <td>4</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>Project Management</td>
                    <td>SE2025</td>
                    <td>5</td>
                    <td><input type="checkbox" name="course"/></td>
                </tr>
                
                <tr></tr>
                <tr>
                  <td></td><td></td><td></td><td></td>
                  <td><button class="enroll-button">Enroll</button></td>
              </tr>
              </tbody>
            </table>
          </center>
        </template>
        
</template>
  