<template class="dashboard">
    <require from="./dashboard.scss"></require>

    <mdc-layout-grid mdc-body1 class="dashboard">
        <mdc-layout-grid-inner>
            <!-- Header -->
            <mdc-layout-grid-cell span="12">
                <h3 class='dashboard-title' mdc-headline3 selector>University Campus</h3>
            </mdc-layout-grid-cell>
            
            <!-- Dashboard of our Campus Management System / Main overview with cards -->
            <!-- Courses -->
            <mdc-layout-grid-cell span="4">
                <mdc-card>
                    <mdc-card-primary-action click.delegate="goToPage('mystudies')">
                        <div class="section">
                            <br/>
                            <p><span class="emoji">📖</span><div class="dashtitle">My studies</div></p>
                            <p class="small-label"> Access the catalog of courses and request to be enrolled.</p>
                        </div>
                    </mdc-card-primary-action>
                </mdc-card>
            </mdc-layout-grid-cell>

            <!-- Rooms -->
            <mdc-layout-grid-cell span="4">
                <mdc-card>
                    <mdc-card-primary-action click.delegate="goToPage('roomreservation')">
                        <div class="section">
                            <br/>
                            <p><span class="emoji">🚪</span><div class="dashtitle">Room reservation</div></p>
                            <p class="small-label">Professors can access the facility manager to reserve a classroom.</p>
                        </div>
                    </mdc-card-primary-action>
                </mdc-card>
            </mdc-layout-grid-cell>

            <!-- Mensa -->
            <mdc-layout-grid-cell span="4">
                <mdc-card>
                    <mdc-card-primary-action click.delegate="goToPage('eat')">
                        <div class="section">
                            <br/>
                            <p><span class="emoji">🍽️</span><div class="dashtitle">Eat</div></p>
                            <p class="small-label">Weekly fresh menus.</p>
                        </div>
                    </mdc-card-primary-action>
                </mdc-card>
            </mdc-layout-grid-cell>

            <!-- Finance -->
            <mdc-layout-grid-cell span="4">
                <mdc-card>
                    <mdc-card-primary-action click.delegate="goToPage('financialsupport')">
                        <div class="section">
                            <br/>
                            <p><span class="emoji">💸</span><div class="dashtitle">Financial support</div></p>
                            <p class="small-label">Submit a financial support request.</p>
                        </div>
                    </mdc-card-primary-action>
                </mdc-card>
            </mdc-layout-grid-cell>

            <!-- Statistics -->
            <mdc-layout-grid-cell span="4">
                <mdc-card>
                    <mdc-card-primary-action click.delegate="goToPage('statistics')">
                        <div class="section">
                            <br/>
                            <p><span class="emoji">📈</span><div class="dashtitle">Statistics</div></p>
                            <p class="small-label">Request available statistics.</p>
                        </div>
                    </mdc-card-primary-action>
                </mdc-card>
            </mdc-layout-grid-cell>

            <!-- Announcement -->
            <mdc-layout-grid-cell span="4">
                <mdc-card>
                    <mdc-card-primary-action click.delegate="goToPage('announcement')">
                        <div class="section">
                            <br/>
                            <p><span class="emoji">📢</span><div class="dashtitle">Announcement</div></p>
                            <p class="small-label">Broadcast your message.</p>
                        </div>
                    </mdc-card-primary-action>
                </mdc-card>
            </mdc-layout-grid-cell>
            
        </mdc-layout-grid-inner>
    </mdc-layout-grid>
</template>
