.dashboard {
    .mdc-card__primary-action {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.dashboard-title {
    text-align: center;    
    font-size: 3rem;       
    font-weight: bold;    
    margin: 0;             
    padding-top: 50px; 
    padding-bottom: 50px; 
    width: 100%    
}


.mdc-top-app-bar {
    background-color: #6200ee;
    color: white; 
}

.mdc-icon-button {
    color: white;
}

.dashtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.small-label {
    font-size: 0.9rem;
    color: #666;
}
