<template>
    <h1>My Studies: Faculties</h1>
    <p>Here you can access the catalog of courses and request to be enrolled.</p>
    <p>See the available courses for each faculty:</p>
  
    <mdc-layout-grid>
      <mdc-layout-grid-inner>
        <!-- Digital Science -->
        <mdc-layout-grid-cell span="4">
          <mdc-card>
            <mdc-card-primary-action click.delegate="goToPage('digitalScience')">
              <div class="section">
                <h3>Digital Science</h3>
                <p class="small-label">Explore the courses in digital science and technology.</p>
              </div>
            </mdc-card-primary-action>
          </mdc-card>
        </mdc-layout-grid-cell>
  
        <!-- Management, Economics and Social Sciences -->
        <mdc-layout-grid-cell span="4">
          <mdc-card>
            <mdc-card-primary-action click.delegate="goToPage('managementEconomicsSocialSciences')">
              <div class="section">
                <h3>Management, Economics, and Social Sciences</h3>
                <p class="small-label">Courses in management, economics, and the social sciences.</p>
              </div>
            </mdc-card-primary-action>
          </mdc-card>
        </mdc-layout-grid-cell>
  
        <!-- Theology -->
        <mdc-layout-grid-cell span="4">
          <mdc-card>
            <mdc-card-primary-action click.delegate="goToPage('theology')">
              <div class="section">
                <h3>Theology</h3>
                <p class="small-label">Dive into theological studies and religious courses.</p>
              </div>
            </mdc-card-primary-action>
          </mdc-card>
        </mdc-layout-grid-cell>
  
        <!-- Humanities -->
        <mdc-layout-grid-cell span="4">
          <mdc-card>
            <mdc-card-primary-action click.delegate="goToPage('humanities')">
              <div class="section">
                <h3>Humanities</h3>
                <p class="small-label">Access courses in arts, literature, and cultural studies.</p>
              </div>
            </mdc-card-primary-action>
          </mdc-card>
        </mdc-layout-grid-cell>
  
        <!-- Science and Medicine -->
        <mdc-layout-grid-cell span="4">
          <mdc-card>
            <mdc-card-primary-action click.delegate="goToPage('scienceMedicine')">
              <div class="section">
                <h3>Science and Medicine</h3>
                <p class="small-label">Explore medical sciences and other scientific fields.</p>
              </div>
            </mdc-card-primary-action>
          </mdc-card>
        </mdc-layout-grid-cell>
      </mdc-layout-grid-inner>
    </mdc-layout-grid>
  </template>
  