@import "./styles/mdc";

body {
    margin: 0;

    main {
        display: flex;
        flex-direction: column;
    }
}

.drawer-toggle-button {
    --mdc-ripple-fg-size:28px;
    --mdc-ripple-fg-scale:1.71429;
    --mdc-ripple-left:10px;
    --mdc-ripple-top:10px;
}

.section {
    padding: 1rem; /* Padding for spacing */
    border-bottom: 1px solid #e0e0e0; /* Light border for separation */
    transition: background-color 0.2s ease-in-out; /* Smooth hover effect */

    &:hover {
        background-color: #f9f9f9; /* Subtle hover background color */
    }
}

h1 {
  color: #47525E;
  font-family: Lato;
  font-size: 28px;
  text-align: center;
}

p {
  color: #8190A5;
  font-family: Lato;
  font-size: 18px;
  text-align: center;
}

h3 {
    color: #47525E;
    font-family: Lato;
    font-size: 28px;
    line-height: 33px;
    width: 376px;
    text-align: center;
}

h5 {
    color: #47525E;
    font-family: Lato;
    font-size: 17px;
    line-height: 33px;
    width: 376px;
    text-align: left;
}


.small-label {
    color: #8190A5;
    font-family: Lato;
    font-size: 18px;
    line-height: 30px;
    width: 376px;
    text-align: center;
}

.small-label-side {
    font-size: 0.9rem; /* Label font size */
    color: #666; /* Muted text color */
    margin-top: 0.2rem;
    text-align: left;
}

.selector {
    color: #47525E;
    font-family: Lato;
    font-size: 40px;
    line-height: 50px;
    width: 400px;
    text-align: center;
  }


  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .login-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-title {
    margin-bottom: 1.5rem;
  }
  
  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .login-button {
    margin-top: 1rem;
    width: 100%
  }
  
  .login-options {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  mdc-radio-group {
    display: flex;
    flex-direction: column;
  }.selector {
    color: #47525E;
    font-family: Lato;
    font-size: 28px;
    line-height: 34px;
    width: 400px;
    text-align: center;
  }
  

  .courses {
    width: 70%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #47525E;
    font-family: Lato;
    font-size: 25px;
    text-align: left;
    border-color: #C0CCDA;
    tr:nth-child(even){background-color: #EFF2F7}
    padding: 20px;
  }

  th {
    background-color: #969FAA;
  }

  
  /* Enroll Button */
  .enroll-button {
    background-color: #47525E;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 20px;
    line-height: 62px;
    width: 108px;
    text-align: center;
    display: block;
    margin-right: 20px;
  }
  